<div *ngIf="shouldIbeVisible">
	<h1>Gallery</h1>

	<div id="images">
		<div class="image col-md-3 text-center">
			<img src="https://ucarecdn.com/{{uuid}}/-/preview/250x250/">
		</div>

		<div class="image col-md-3 text-center">
			<img src="https://ucarecdn.com/{{uuid}}/-/preview/250x250/-/quality/best/">
		</div>

		<div class="image col-md-3 text-center">
			<img src="https://ucarecdn.com/{{uuid}}/-/preview/250x250/-/quality/best/-/enhance/100/">
		</div>

		<div class="image col-md-3 text-center">
			<img src="https://ucarecdn.com/{{uuid}}/-/preview/250x250/-/quality/best/-/grayscale/">
		</div>
	</div>

</div>